@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
body {
  font-family: 'Nunito', sans-serif; }

h1, h2, h3, h5, .marca, .showTerminos {
  font-family: 'Lato', sans-serif;
  color: #296871; }

.testimonio {
  font-family: 'Lato', sans-serif; }
  .testimonio h5 {
    background-color: #25252e;
    color: #ffffff;
    display: inline-flex; }
  .testimonio h3 {
    font-size: 40px; }
  .testimonio p {
    font-weight: bold;
    color: #ffffff; }
  .testimonio .textSection {
    display: block;
    font-size: 30px;
    color: #959595;
    margin-bottom: 15px; }

@media only screen and (min-width: 269px) and (max-width: 991px) {
  .testimonio h5 {
    font-size: 16px; }
  .testimonio h3 {
    font-size: 16px; }
  .testimonio .textSection {
    font-size: 15px;
    color: #959595;
    margin-bottom: 15px; } }

p {
  color: #25252e; }

.terminos_condiciones {
  font-size: 7px; }

* {
  margin: 0;
  padding: 0; }

header {
  padding: 0 0 30px 0;
  display: block;
  margin-bottom: auto; }

main {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding-top: 30px; }

.icon_index {
  padding: 0.750rem 0rem 0.325rem 1rem; }

.card-body {
  flex: 1 1 auto;
  padding: 1rem 0.375rem; }

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem; }

.btn__primario {
  background-color: #296871;
  color: #fff;
  border-color: #296871; }

.btn__secundario {
  background-color: transparent;
  border: 1px solid transparent;
  border-color: #296871; }

.btn__primario:hover, .btn__secundario:hover {
  opacity: 0.6;
  color: #fff;
  background-color: #296871;
  border-color: #296871; }

ul li a:hover {
  opacity: 0.6;
  background-color: #828387;
  color: #fff;
  padding: 4px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem; }

.foto_principal {
  flex: 0 0 auto;
  width: 100%; }

.foto_testimonios {
  position: relative;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
  box-shadow: 0 0 20px 5px #000000c0; }

@media only screen and (min-width: 269px) and (max-width: 991px) {
  .foto_testimonios {
    background-image: url(../images/icecream_cel.jpg);
    position: relative;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    box-shadow: 0 0 40px 5px #000000c0; } }

footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  align-self: flex-end; }
  footer div.social-media-links {
    background: #0e7d87;
    overflow: hidden;
    padding-bottom: 4px;
    text-align: center; }
    footer div.social-media-links ul {
      margin: 0;
      padding: 10px; }
    footer div.social-media-links li {
      display: inline;
      padding: 20px;
      margin: 0;
      padding: 0; }
    footer div.social-media-links a {
      padding: 8px;
      border-radius: 4px;
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0), 0 2px 3px rgba(0, 0, 0, 0);
      display: inline-block;
      position: relative;
      transition: .2s ease-in; }
    footer div.social-media-links a:hover {
      transform: translateY(-4px); }
    footer div.social-media-links img {
      width: 25px; }
