* {
    margin: 0;
    padding: 0;
}

header{
    padding: 0 0 30px 0;
    display: block;
    margin-bottom: auto;
}

main{
    padding: 40px;
}

.icon_index{
    padding: 0.750rem 0rem 0.325rem 1rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 0.375rem;
}