body{
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h5, .marca, .showTerminos{
    font-family: 'Lato', sans-serif;
    color: $color_primario;
}

.testimonio{
    font-family: 'Lato', sans-serif;
    h5{
        background-color: $negro;
        color: $blanco;
        display: inline-flex;
    }
    h3{
        font-size: 40px;
    }
    p{
        font-weight: bold;
        color: $blanco;
    }
    .textSection{
        display: block;
        font-size: 30px;
        color: #959595;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 269px) and (max-width: 991px){
    .testimonio{
        h5{
            font-size: 16px;
        }
        
        h3{
            font-size: 16px;
        }
        .textSection{
            font-size: 15px;
            color: #959595;
            margin-bottom: 15px;
        }

    }
}

p{
    @if $parrafo == normal {
        color: $negro;
    }@else if $parrafo == voluntario {
        color: $color_primario;
    }@else if $parrafo == participante {
        color: $color_terciario;
    }
}

.terminos_condiciones{
    font-size: $regular_size_text / $terminos+px;
}