$color_primario: #296871;
$color_secundario: #828387;
$color_terciario: #0e7d87;
$blanco: #ffffff;
$negro: #25252e;
$footer: #e5e5e5;
$parrafo: normal;
$regular_size_text: 14;
$terminos: 2;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");