@import "variables";
@import "tipografia";
@import "estructura";
@import "buttons";

ul li a:hover{
    opacity:0.6;
    background-color: $color_secundario;
    color: #fff;
    padding: 4px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.foto_principal{
    flex: 0 0 auto;
    width: 100%;
}

.foto_testimonios {
    position: relative;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    box-shadow: 0 0 20px 5px #000000c0;
}

#carouselTestimonios {
    height: fit-content;
    @media (max-width: 991px) {
        display: none;
    }    
}

.testimonio {

}

@media only screen and (min-width: 269px) and (max-width: 991px){
    .foto_testimonios {
        background-image: url(../images/icecream_cel.jpg);
        position: relative;
        display: flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 70%;
        box-shadow: 0 0 40px 5px #000000c0;
    }
}

.funcionamientoPhoto{
    position: relative;
    display: flex;
    background-position: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
}

.carousel-inner {
    height: 80vh !important;
    .carousel-item {
        height: 80vh !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .carousel-item:nth-child(1) {
        background-image: url('../images/image3.jpg');
    }
    .carousel-item:nth-child(2) {
        background-image: url('../images/image5.jpg');
    }
    .carousel-item:nth-child(3) {
        background-image: url('../images/image6.jpg');
    }
    .carousel-item:nth-child(4) {
        background-image: url('../images/image7.jpg');
    }
}

.testimonios-mobil {
    display: none;
    @media (max-width: 991px) {
        display: block;
    }
}

footer{
    width: 100%;
    height: 100px;
    background: $footer;
    div.social-media-links{
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            margin: 0;
        }
        li{
            display: inline;
            margin: 0;
            padding: 0;
        }
        a{
            padding: 8px;
            border-radius: 4px;
            box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0), 0 2px 3px rgba(0,0,0,0);
            display: inline-block;
            position: relative;
            transition: .2s ease-in;
            img{
              width: 25px;
            }
        }
        a:hover{
			transform: translateY(-4px);
        }
    }
}